<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    
    <title>RFID Attendance System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>

</head>
<body>
    <h1>RFID Attendance System</h1>
    <div class="wrap">
        <div class="box-zone flex" id="user-container">

            <!-- <div class="box online" data-uid="${user.uid}">
                <img src="../static/eunha.png">
                <h2>eunha</h2>
                <div>go to work:<span>09:00</span><br>
                </div>
            </div> -->
            
        </div>
    </div>

    <footer>Embedded System Programming 2 final project - 202213309 Yeoeunha</footer>
</body>
</html>
